apiVersion: apps/v1
kind: Deployment
metadata:
  name: just-like-clockwork-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: just-like-clockwork-backend
  template:
    metadata:
      labels:
        app: just-like-clockwork-backend
    spec:
      containers:
        - name: app
          image: ghcr.io/krishnarajt/just-like-clockwork-backend:git-2bdab8e4a5e1b5f79002f1de8c9080455114f3c3
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
              name: http

          envFrom:
            - secretRef:
                name: just-like-clockwork-backend-env

          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /ready
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 5

          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
